4.6 Combining and exporting data

This script contains the following points:

01. Import the data sets into Jupyter: df_ords and the new dataframe: df_ords_prior

02. Check the dimensions of both dataframes

03. Merge the new dataframe df_ords_prior with df_ords dataframe

04. Export merged file to pickle format

In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

1. Import data sets: df_ords and df_ords_prior

In [2]:
# Import data
path = r'C:\Users\polly\Documents\Instacart Basket Analysis'
df_ords_prior = pd.read_csv(os.path.join(path, '02 Data', 'Original Data', 'order_products_prior.csv'), index_col = False)
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = False)

In [3]:
# Check output of df_ords
df_ords.head()

,Unnamed: 0,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,0,2539329,1,1,2,8,-1.0
1,1,2398795,1,2,3,7,15.0
2,2,473747,1,3,3,12,21.0
3,3,2254736,1,4,4,7,29.0
4,4,431534,1,5,4,15,28.0

In [4]:
# Check output of df_ords_prior
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

In [5]:
# Remove unnamed columns from df_ords by treating unnamed column as the index
df_ords = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'orders_checked.csv'), index_col = 0)

In [6]:
# Recheck output of df_ords
df_ords.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order
0,2539329,1,1,2,8,-1.0
1,2398795,1,2,3,7,15.0
2,473747,1,3,3,12,21.0
3,2254736,1,4,4,7,29.0
4,431534,1,5,4,15,28.0

In [7]:
# Recheck output of df_ords_prior
df_ords_prior.head()

   order_id  product_id  add_to_cart_order  reordered
0         2       33120                  1          1
1         2       28985                  2          1
2         2        9327                  3          0
3         2       45918                  4          1
4         2       30035                  5          0

02. Check the dimensions of both dataframes

In [8]:
# Check size of df_ords
df_ords.shape

(3421083, 6)

In [9]:
# Check size of df_ords_prior
df_ords_prior.shape

(32434489, 4)

03. Merge the new dataframe df_ords_prior with df_ords dataframe

In [12]:
# Merge dataframes: df_ords_prior with df_ords using 'indicator'argument
df_merged_large = df_ords.merge(df_ords_prior, on = 'order_id', indicator = True)

In [13]:
# Check output
df_merged_large.head()

,order_id,user_id,order_number,orders_day_of_week,order_hour_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,-1.0,196,1,0,both
1,2539329,1,1,2,8,-1.0,14084,2,0,both
2,2539329,1,1,2,8,-1.0,12427,3,0,both
3,2539329,1,1,2,8,-1.0,26088,4,0,both
4,2539329,1,1,2,8,-1.0,26405,5,0,both

In [14]:
# Run frequency check on df_merged_large dataframe
df_merged_large['_merge'].value_counts()

both          32434489
left_only            0
right_only           0
Name: _merge, dtype: int64

04. Export merged file in pickle format

In [15]:
# Export df_merged_large to 'Prepared Data' folder
df_merged_large.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_combined.pkl'))