In [1]:
# Import libraries
import pandas as pd
import numpy as np
import os

01. Importing data

In [2]:
# Import data
path = r'C:\Users\polly\Documents\Instacart Basket Analysis'
df_ords_prods_merge = pd.read_pickle(os.path.join(path, '02 Data', 'Prepared Data', 'orders_products_derived.pkl'))

02. Grouping and aggregating data

In [3]:
# Group data by department_id column and aggregate by order_number column for entire dataframe
df_ords_prods_merge.groupby('department_id').agg({'order_number': ['mean']})

              order_number
                      mean
department_id
1                15.457838
2                17.277920
3                17.170395
4                17.811403
5                15.215751
6                16.439806
7                17.225802
8                15.340650
9                15.895474
10               20.197148
11               16.170638
12               15.887671
13               16.583536
14               16.773669
15               16.165037
16               17.665606
17               15.694469
18               19.310397
19               17.177343
20               16.473447
21               22.902379

Since we are using the entire dataframe, the output shows all of the department id's (from 1 to 21) in the output, rather than just those included in the first million rows.

03. Creating customer loyalty flag

In [4]:
# Create a new column 'max_order' that shows the maximum orders for each user
df_ords_prods_merge['max_order'] = df_ords_prods_merge.groupby(['user_id'])['order_number'].transform(np.max)

In [5]:
# Check output
df_ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,aisle_id,department_id,prices,_merge,price_range_loc,busiest_day,busiest_day_new,busiest_period_of_day,max_order
0,2539329,1,1,2,8,-1.0,196,1,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10
1,2398795,1,2,3,7,15.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10
2,473747,1,3,3,12,21.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10
3,2254736,1,4,4,7,29.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10
4,431534,1,5,4,15,28.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10
5,3367565,1,6,2,7,19.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10
6,550135,1,7,1,9,20.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10
7,3108588,1,8,1,14,14.0,196,2,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10
8,2295261,1,9,1,16,0.0,196,4,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10
9,2550362,1,10,4,8,30.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10
10,2968173,15,15,1,9,7.0,196,2,0,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22
11,1870022,15,17,2,16,8.0,196,6,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22
12,1911383,15,18,2,11,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22
13,2715276,15,21,1,9,7.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22
14,487368,15,22,1,10,14.0,196,1,1,Soda,77,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22

In [6]:
# Create 'loyalty_flag' column based on max_order value for each user

In [7]:
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] > 40, 'loyalty_flag'] = 'Loyal customer'

In [8]:
df_ords_prods_merge.loc[(df_ords_prods_merge['max_order'] <= 40) & (df_ords_prods_merge['max_order'] > 10), 'loyalty_flag'] = 'Regular customer'

In [9]:
df_ords_prods_merge.loc[df_ords_prods_merge['max_order'] <= 10, 'loyalty_flag'] = 'New customer'

In [10]:
# Print frequency of 'loyalty_flag' column
df_ords_prods_merge['loyalty_flag'].value_counts(dropna = False)

Regular customer    15876776
Loyal customer      10284093
New customer         6243990
Name: loyalty_flag, dtype: int64

04. Determine the spending habits of the three types of customers

In [11]:
# Group data by 'loyalty_flag' column and aggregate by 'prices' column mean, min and max
df_ords_prods_merge.groupby('loyalty_flag').agg({'prices': ['mean', 'min', 'max']})

                     prices
                       mean  min      max
loyalty_flag
Loyal customer    10.386335  1.0  99999.0
New customer      13.294670  1.0  99999.0
Regular customer  12.495717  1.0  99999.0

05. Creating customer spending flag

In [12]:
# Create a new column 'average_price' that shows the average price of items for user spent
df_ords_prods_merge['average_price'] = df_ords_prods_merge.groupby(['user_id'])['prices'].transform(np.mean)

In [13]:
# Check output
df_ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,department_id,prices,_merge,price_range_loc,busiest_day,busiest_day_new,busiest_period_of_day,max_order,loyalty_flag,average_price
0,2539329,1,1,2,8,-1.0,196,1,0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797
10,2968173,15,15,1,9,7.0,196,2,0,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556
11,1870022,15,17,2,16,8.0,196,6,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556
12,1911383,15,18,2,11,7.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556
13,2715276,15,21,1,9,7.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556
14,487368,15,22,1,10,14.0,196,1,1,Soda,...,7,9.0,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556

In [14]:
# Create a 'spending_flag' column based on the average_price value for each user

In [15]:
df_ords_prods_merge.loc[df_ords_prods_merge['average_price'] < 10, 'spending_flag'] = 'Low spender'

In [16]:
df_ords_prods_merge.loc[df_ords_prods_merge['average_price'] >= 10, 'spending_flag'] = 'High spender'

In [17]:
# Print frequency of 'spending_flag' column
df_ords_prods_merge['spending_flag'].value_counts(dropna = False)

Low spender     31770614
High spender      634245
Name: spending_flag, dtype: int64

In [18]:
# Check output of first 60 rows of 'user_id', 'spending_flag' and 'average_price' columns
df_ords_prods_merge[['user_id', 'spending_flag', 'average_price']].head(60)

    user_id spending_flag  average_price
0         1   Low spender       6.367797
1         1   Low spender       6.367797
2         1   Low spender       6.367797
3         1   Low spender       6.367797
4         1   Low spender       6.367797
5         1   Low spender       6.367797
6         1   Low spender       6.367797
7         1   Low spender       6.367797
8         1   Low spender       6.367797
9         1   Low spender       6.367797
10       15   Low spender       3.980556
11       15   Low spender       3.980556
12       15   Low spender       3.980556
13       15   Low spender       3.980556
14       15   Low spender       3.980556
15       19   Low spender       8.372059
16       19   Low spender       8.372059
17       19   Low spender       8.372059
18       21   Low spender       7.012683
19       31   Low spender       8.137793
20       31   Low spender       8.137793
21       43   Low spender       7.444898
22       43   Low spender       7.444898
23       52   Low spender       6.356287
24       52   Low spender       6.356287
25       52   Low spender       6.356287
26       52   Low spender       6.356287
27       52   Low spender       6.356287
28       52   Low spender       6.356287
29       52   Low spender       6.356287
30       52   Low spender       6.356287
31       52   Low spender       6.356287
32       52   Low spender       6.356287
33       52   Low spender       6.356287
34       52   Low spender       6.356287
35       52   Low spender       6.356287
36       52   Low spender       6.356287
37       67   Low spender       7.656790
38       67   Low spender       7.656790
39       67   Low spender       7.656790
40       67   Low spender       7.656790
41       67   Low spender       7.656790
42       67   Low spender       7.656790
43       67   Low spender       7.656790
44       67   Low spender       7.656790
45       67   Low spender       7.656790
46       67   Low spender       7.656790
47       67   Low spender       7.656790
48       67   Low spender       7.656790
49       67   Low spender       7.656790
50       67   Low spender       7.656790
51       67   Low spender       7.656790
52       67   Low spender       7.656790
53       67   Low spender       7.656790
54       67   Low spender       7.656790
55       67   Low spender       7.656790
56       81   Low spender       8.165384
57       81   Low spender       8.165384
58       82   Low spender       6.441221
59       82   Low spender       6.441221

06. Creating customer order frequency flag

In [19]:
# Create a new column 'median_days_since_prior_order' that shows the median number of days since prior order for each user
df_ords_prods_merge['median_days_since_prior_order'] = df_ords_prods_merge.groupby(['user_id'])['days_since_prior_order'].transform(np.median)

In [20]:
# Check output
df_ords_prods_merge.head(15)

,order_id,user_id,order_number,orders_day_of_week,order_time_of_day,days_since_prior_order,product_id,add_to_cart_order,reordered,product_name,...,_merge,price_range_loc,busiest_day,busiest_day_new,busiest_period_of_day,max_order,loyalty_flag,average_price,spending_flag,median_days_since_prior_order
0,2539329,1,1,2,8,-1.0,196,1,0,Soda,...,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0
1,2398795,1,2,3,7,15.0,196,1,1,Soda,...,both,Mid-range product,Regularly busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.0
2,473747,1,3,3,12,21.0,196,1,1,Soda,...,both,Mid-range product,Regularly busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.0
3,2254736,1,4,4,7,29.0,196,1,1,Soda,...,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.0
4,431534,1,5,4,15,28.0,196,1,1,Soda,...,both,Mid-range product,Least busy,Slowest days,Most orders,10,New customer,6.367797,Low spender,20.0
5,3367565,1,6,2,7,19.0,196,1,1,Soda,...,both,Mid-range product,Regularly busy,Regularly busy,Average orders,10,New customer,6.367797,Low spender,20.0
6,550135,1,7,1,9,20.0,196,1,1,Soda,...,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low spender,20.0
7,3108588,1,8,1,14,14.0,196,2,1,Soda,...,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low spender,20.0
8,2295261,1,9,1,16,0.0,196,4,1,Soda,...,both,Mid-range product,Regularly busy,Busiest days,Most orders,10,New customer,6.367797,Low spender,20.0
9,2550362,1,10,4,8,30.0,196,1,1,Soda,...,both,Mid-range product,Least busy,Slowest days,Average orders,10,New customer,6.367797,Low spender,20.0
10,2968173,15,15,1,9,7.0,196,2,0,Soda,...,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low spender,8.0
11,1870022,15,17,2,16,8.0,196,6,1,Soda,...,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556,Low spender,8.0
12,1911383,15,18,2,11,7.0,196,1,1,Soda,...,both,Mid-range product,Regularly busy,Regularly busy,Most orders,22,Regular customer,3.980556,Low spender,8.0
13,2715276,15,21,1,9,7.0,196,1,1,Soda,...,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low spender,8.0
14,487368,15,22,1,10,14.0,196,1,1,Soda,...,both,Mid-range product,Regularly busy,Busiest days,Most orders,22,Regular customer,3.980556,Low spender,8.0

In [21]:
# Create an 'order_frequency_flag' column based on the median_days_since_prior_order value for each user

In [22]:
df_ords_prods_merge.loc[df_ords_prods_merge['median_days_since_prior_order'] > 20, 'order_frequency_flag'] = 'Non-frequent customer'

In [23]:
df_ords_prods_merge.loc[(df_ords_prods_merge['median_days_since_prior_order'] > 10) & (df_ords_prods_merge['median_days_since_prior_order'] <= 20), 'order_frequency_flag'] = 'Regular customer'

In [24]:
df_ords_prods_merge.loc[df_ords_prods_merge['median_days_since_prior_order'] <= 10, 'order_frequency_flag'] = 'Frequent customer'

In [25]:
# Print frequency of 'order_frequency_flag' column
df_ords_prods_merge['order_frequency_flag'].value_counts(dropna = False)

Frequent customer        22797115
Regular customer          6921016
Non-frequent customer     2686728
Name: order_frequency_flag, dtype: int64

In [26]:
# Check output of first 60 rows of 'user_id', 'order_frequency_flag' and 'median_days_since_prior_order' columns
df_ords_prods_merge[['user_id', 'order_frequency_flag', 'median_days_since_prior_order']].head(60)

    user_id   order_frequency_flag  median_days_since_prior_order
0         1       Regular customer                           20.0
1         1       Regular customer                           20.0
2         1       Regular customer                           20.0
3         1       Regular customer                           20.0
4         1       Regular customer                           20.0
5         1       Regular customer                           20.0
6         1       Regular customer                           20.0
7         1       Regular customer                           20.0
8         1       Regular customer                           20.0
9         1       Regular customer                           20.0
10       15      Frequent customer                            8.0
11       15      Frequent customer                            8.0
12       15      Frequent customer                            8.0
13       15      Frequent customer                            8.0
14       15      Frequent customer                            8.0
15       19      Frequent customer                            6.0
16       19      Frequent customer                            6.0
17       19      Frequent customer                            6.0
18       21      Frequent customer                            7.0
19       31      Frequent customer                            6.0
20       31      Frequent customer                            6.0
21       43      Frequent customer                           10.0
22       43      Frequent customer                           10.0
23       52      Frequent customer                            8.0
24       52      Frequent customer                            8.0
25       52      Frequent customer                            8.0
26       52      Frequent customer                            8.0
27       52      Frequent customer                            8.0
28       52      Frequent customer                            8.0
29       52      Frequent customer                            8.0
30       52      Frequent customer                            8.0
31       52      Frequent customer                            8.0
32       52      Frequent customer                            8.0
33       52      Frequent customer                            8.0
34       52      Frequent customer                            8.0
35       52      Frequent customer                            8.0
36       52      Frequent customer                            8.0
37       67      Frequent customer                            7.0
38       67      Frequent customer                            7.0
39       67      Frequent customer                            7.0
40       67      Frequent customer                            7.0
41       67      Frequent customer                            7.0
42       67      Frequent customer                            7.0
43       67      Frequent customer                            7.0
44       67      Frequent customer                            7.0
45       67      Frequent customer                            7.0
46       67      Frequent customer                            7.0
47       67      Frequent customer                            7.0
48       67      Frequent customer                            7.0
49       67      Frequent customer                            7.0
50       67      Frequent customer                            7.0
51       67      Frequent customer                            7.0
52       67      Frequent customer                            7.0
53       67      Frequent customer                            7.0
54       67      Frequent customer                            7.0
55       67      Frequent customer                            7.0
56       81  Non-frequent customer                           30.0
57       81  Non-frequent customer                           30.0
58       82       Regular customer                           11.0
59       82       Regular customer                           11.0

In [27]:
# Change outlier 'prices' values to NaNs
df_ords_prods_merge.loc[df_ords_prods_merge['prices'] >100, 'prices'] = np.nan

In [28]:
# Check max value on 'prices' column
df_ords_prods_merge['prices'].max()

25.0

In [29]:
# Export df_ords_prods_merge to 'Prepared Data' folder
df_ords_prods_merge.to_pickle(os.path.join(path, '02 Data','Prepared Data', 'orders_products_derived_more.pkl'))